@charset "UTF-8";

/* 0 --- RESETEO DE CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-size: 100%;
  list-style-type: none;
  font-family: poppins;
  font-size: 18px;
  color: black; }


/* --- Estilos de la página ---*/
h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: #2c02e5; }

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: rgb(79, 77, 77); }

footer {
    background-color: black;
    color: white;
    text-align: center;
}

header {
  background-color: beige;
} 



